[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
pycasso = {editable = true, git = "https://github.com/catsital/pycasso"}

[dev-packages]

[requires]
python_version = "3.8"
